<div class="popular-product_item card border-0 rounded-0">
  <img src="<%= product.imgSrc %>" class="card-img-top rounded-0" alt="<%= product.name %>">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <a href=<%= product.href %> class="btn btn-danger">Chi tiết</a>
  </div>
</div>